.containn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .container-modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .container-modal h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .container-modal div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
  
  .inputS {
    margin-top: 20px;
  }
  
  .i {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .postO {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .postO:hover {
    background-color: #0056b3;
  }
  